
<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Book <%= @exercise.user.first_name %> for you exercise</h3>
        <%= simple_form_for [@exercise, @booking] do |f| %>
          <%= f.input :start_date, placeholder: 'Enter a start date' %>
          <%= f.input :end_date, placeholder: 'Enter a start date' %>
          <%= f.submit "Valider", class: "btn btn-flat" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
