<%# # Integrating iteration to show exercises for this user%>

<div class="row mx-3 p-5">

<h1 class="my-2"> Your exercises <strong><%=@user.first_name%></strong></h1>
  <% @exercises.each do |exercise| %>
    <div class="col-sm-4">
      <div class="shadow-sm card p-3 mb-2">
        <h2> <%= exercise.name %></h2>
        <p> <%= exercise.description %> <p>
        <p> <%= exercise.user_id %> <p>
        <p> <strong> <%=  exercise.price_per_day %> $</strong> </p>
      </div>
    </div>
  <% end %>
</div>

  <%# Horizontal line to split the window %>
  <hr>
  <h1> Your incoming bookings <strong><%=@user.first_name%></strong></h1>


 <%# # Integrating iteration to show bookings for this user%>

<div class="row mx-3 p-5">

<h1 class="my-2">Tous les exercises</h1>
  <% @bookings.each do |booking| %>
    <div class="col-sm-4">
      <div class="shadow-sm card p-3 mb-2">
        <p> <strong>Start date :</strong> <%= booking.start_date %> <p>
        <p> <strong>End date :</strong> <%= booking.end_date %> <p>
        <p> <strong>Your beloved TA is :</strong><%= booking.exercise.user.first_name %></p>
        <p><%= booking.exercise.user.id %></p>
        <p> <%= booking.user_id %> <p>
      </div>
    </div>
  <% end %>
</div>
