<div class="container">
<%# # Integrating iteration to show exercises for this user%>
  <div class="row mx-3 px-4 py-4">
    <h1 class="my-2 text-center"><strong>
      <% if Time.now.hour < 18 %>
        <%= "Bonjour" %>
      <% elsif Time.now.hour > 18 %>
        <%= "Bonsoir" %>
      <% end %>
      <%=@user.first_name%> 👋</strong>
    </h1>
    <p class="text-center">Bienvenue sur ton tableau de bord !</p>
  </div>
 <%# # Integrating iteration to show bookings for this user%>
  <div class="row mx-3 px-4 py-2">

    <h2>Tes réservations</h2>
      <% if @bookings == [] %>
        <%= "Tu n'as fait aucune réservation pour l'instant" %>
      <% else %>
        <%= render "shared/bookings-card" %>
      <% end %>
  </div>
  <%# Horizontal line to split the window %>
  <hr>
  <%# # Integrating iteration to show exercises for this user%>
  <div class="row mx-3 px-4 py-2">
    <h2>Tes exercices</h2>
      <% if @exercises == [] %>
        <%= "Tu n'as créé aucun exercice pour l'instant" %>
      <% else %>
        <%= render "shared/exercise-dash" %>
      <% end %>
  </div>
</div>
