<div class="img-fluid py-5" style="height:500px; background-size: cover; background-image:url('https://images.pexels.com/photos/3861951/pexels-photo-3861951.jpeg')">
  <div class="row">
    <div class="jumbotron jumbotron-fluid p-5 bg-white col-6 rounded mx-auto d-block justify-content-center align-items-center">
      <h1 class="display-4">🛟 eTAide</h1>
        <p class="lead"> Sélectionnez un exercice, <strong> réservez votre TA ! </strong> </p>
        <div class="d-flex flex-row">
          <select style="max-width:80%;" class="form-select form-select-lg" aria-label=".form-select-lg example">
            <option selected>Choisissez une catégorie </option>
            <% Exercise::CATEGORIES.each do |category| %>
            <option value="#{category}"><%= category %></option>
            <% end %>
            </select>
            <%= link_to "Rechercher", exercises_path, class:"btn btn-primary btn-lg mx-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <%# # Integrating iteration to show sample of exercises%>
  <div class="row mx-4 p-5">
    <h2>Derniers exercises</h2>
    <%= link_to "Voir tous les exercises ⟩", exercises_path, class:"my-2 text-decoration-none" %>
    <% @exercises.limit(9).each do |exercise| %>
      <div class="col-sm-4">
        <div class="shadow-sm card p-3 mb-2">
          <h3 class="my-3"> <%= exercise.name %></h3>
          <p> <strong> Catégorie: </strong>  <%= exercise.category %> <p>
          <p> <strong> TA associé: </strong>  <%= exercise.user.first_name %> <%= exercise.user.last_name %></p>
            <%= link_to "Réserver pour #{exercise.price_per_day.round(0)}€", exercise_path(exercise), class:"btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

</div>
