<div class="p-5" style="background-size: cover; background-position: center; background-image:url(<%= @exercise.image %>)">
  <%= link_to "⟨ Accueil", root_path, class:"text-decoration-none text-light" %>
  <div class="row mt-2 mb-3">
    <h1 class="py-2 text-light"> <%= @exercise.name %> </h1>
      <div>
        <% if @exercise.category == "Front-end" %>
          <span class="tag tag-teal"><%= @exercise.category%></span>
        <% elsif @exercise.category == "Back-end" %>
           <span class="tag tag-pink"><%= @exercise.category%></span>
        <% elsif @exercise.category == "Transverse" %>
           <span class="tag tag-yellow"><%= @exercise.category%></span>
        <% elsif @exercise.category == "Base de données" %>
           <span class="tag tag-green"><%= @exercise.category%></span>
        <% else %>
           <span class="tag tag-purple"><%= @exercise.category%></span>
        <% end %>
        <span class="tag tag-purple"><%= @exercise.price_per_day.round(0)%> € / jour</span>
        <span class="tag tag-pink"> TA associé: <%= @exercise.user.first_name %> <%= @exercise.user.last_name %></span>
      </div>
  </div>
</div>
<div class="container my-4">
  <div class="row">
    <div class="col-7 mt-4">
    <h4>Description :</h4>
      <%= @exercise.description %> </p>

      <hr>

    <div id="your_ta" class="card border-1 rounded-4 shadow-sm d-flex flex-row">
      <img class="rounded-circle p-2 mx-2 align-middle" height="100" src=<%= @user.image%> alt="Card image cap">
      <div class="card-body">
        <h4><%= @exercise.user.first_name %> <%= @exercise.user.last_name %></h4>
        <p class="card-product-infos">Son temps de réponse moyen <strong><%= @exercise.response_time %></strong> min.</p>
      </div>
    </div>
    </div>
    <div class="col-5">
      <div class="container my-4">
        <div class="row">
          <div class="col-12">
            <div class="card rounded p-3 shadow-sm border-0 rounded-4">
              <h5 class="font-weight-bold">Réserve cet exercice avec <%= @exercise.user.first_name %></h5>
              <%= simple_form_for [@exercise, @booking] do |f| %>
                <%= f.input :start_date, label: 'Date de début', placeholder: 'Date de début' %>
                <%= f.input :end_date, label: 'Date de fin', placeholder: 'Date de fin' %>
                <%= f.submit "Réserver pour #{@exercise.price_per_day.round(0)}€", class: "btn btn-primary btn-lg btn-block", style: "border-radius: 150px; border: 1px solid black; background-color: black;" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
